body
{
    background-color:rgba(224, 7, 134, 0.938);
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

h3
{
    color: chartreuse;
}

h4
{
    color: rgb(8, 3, 75);
}
span
{
    color: rgb(220, 235, 14);
}